
@{
    Layout = null;
}
@{
    var a = 12;
    var b = 6;
    var numbers = new List<int> { 1, 3, 5, 7 };
    <style>
        .red {
            color: red
        }

        .blue {
            color: blue
        }
    </style>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    @{
        var cssclass = a % b == 0 ? "red" : "blue";
    }

    <div class="@cssclass">
        @a
        <br />
        @b
        @foreach (var item in numbers)
        {
            @item
            <br />

        }
    </div>
    <br />
   
    <br />
    <div class="@cssclass"></div>
    <br />
    @for (int i = 0; i < 5; i++)
        {
            @*<text> Eda Karakas</text>*@
            @:Eda karakas
            <br />
        }
        @if (true)
        {
            var toplam = a + b;
            <div>@toplam</div>
        }
        <br />
        Toplam: @a+@b
        <br />
        Toplam:@(a+b)

   
    
</body>
</html>
